<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-navb">
<div class="container">
  <div class="d-flex flex-grow-1">
    <span class="w-100 d-lg-none d-block"></span>
    <a class="navbar-brand" href="{% url 'index' %}">
        soldvdt
    </a>
    <!-- <a class="navbar-brand-two mx-auto d-lg-none d-inline-block" href="#">
        <img src="//placehold.it/40?text=LOGO" alt="logo">
    </a> -->
    <div class="w-100 text-right">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>
<div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
    <ul class="navbar-nav ml-auto flex-nowrap">
        {% url 'index' as url %}
        <li class="nav-item 
                  {% if request.path == url %}
                    active
                  {% endif %}
          ">
          <a href="{% url 'index' %}" class="nav-link m-2 menu-item">Home</a>
        </li>
        {% url 'artikel:list' as url %}
        <li class="nav-item 
                  {% if request.path == url %}
                    active
                  {% endif %}
          ">
            <a href="{% url 'artikel:list' %}" class="nav-link m-2 menu-item nav-active">Articles</a>
        </li>
        <li class="nav-item">
            <a href="/admin/" class="nav-link m-2 menu-item">Login</a>
        </li>
    </ul>
</div>

</nav>