@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap);

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    background-color: #f1f5f8;
}

.navbar {
    padding: 0;
}

.container {
    position: relative;
}

.bg-navb {
    background-color: #000c19;
}

.navbar-brand {
    font-size: 21px;
    font-weight: bold;
}

footer {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    margin: 10px;
}