{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        soldvdt
    </title>
     <link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'custom.css' %}">
    <style>

    </style>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7098171691033170"
     crossorigin="anonymous"></script>
</head>

{% include 'snippets/navbar.html' %}
<body>

<div class="container">
    <div>
        <h2>1. Doscom</h2>
        <script src="https://apps.elfsight.com/p/platform.js" defer></script>
        <div class="elfsight-app-4244ced0-9c17-4794-80c6-a5e0a60c8ba6"></div>

        <p>Doscom is an open source community that has a vision to socialize open source through various activities such as workshops, seminars and sharing sessions.
        </p>
        <p>As a Publication and Documentation Coordinator My job is to manage Doscom’s social
            media including copywriting and public relations. Since it's a non-profit
            organization I don't learn much about social media advertising but we do focus
            on social media awareness and engagement.
        </p>
        <p>One of my campaigns is, during
            Doscom’s birthday since Doscom has a multimedia division. I challenge every
            multimedia division member to make a wishing birthday creation then upload it
            on their social media and tag Doscom then we collect it and upload it to the
            main social media. It end up being one of the most engaging instagram posts
            by @doscomedia with 252 likes and 7 comments.
        </p>
    </div>
    </br>
    <div>

        <h2>2. PUSPINDES (Pusat Pemberdayaan Informatika dan Desa)</h2>
        </br>

        <p>When the early Covid hit, I had nothing to do besides attending online class until I remember that one of my friend work in a project that empowering
        village throught informatics that now became PUSPINDES. Puspindes is a government program aimed at developing IT empowerment in villages.
        This program was established by the local government in collaboration with Relawan TIK Indonesia. I contact him and apparently they needed some manpower so
        I ended up working there as an IT Staff for half a year.
        </p>
        <img width="350px" src="https://solehudindt.pythonanywhere.com/media/images/sidekem_training.jpg"/>
        <p>As an IT Staff my job are bassically does all kind of job related to IT, such as provide project management support the development of sidekem.pemalangkab.go.id,
        responsible for tutoring End users and creating it’s documentation like <a href="https://github.com/solehudindt/ERP-portf/blob/main/Panduan%20Mengisi%20Data%20Perangkat%20Desa%20%26%20BPD%20SIDEKEM.pdf">this one</a>.
        Developed Tableau-based data visualizations to track and analyze COVID-19 trends in the Pemalang region (<a href="https://public.tableau.com/app/profile/solehudin/vizzes">link</a>).
        </p>


    </div>
    </br>
    <div>

        <h2>3. Pojok Kreatif</h2>
        <script src="https://apps.elfsight.com/p/platform.js" defer></script>
        <div class="elfsight-app-819fe9dd-385b-4924-a096-b9b1e8a89317"></div>

        <p>Pojok Kreatif is a project Me and my friend made back in high school around 2016 to 2017. It's started as a normal highschool
            kid blog about technology, and then slowly become a Linux-based blog and media.
        </p>
        <p>When the blog become more popular among the students, we started to set up Social Media for Pojok Kreatif. As a curious youngsters we
            decided to try Facebook ads once and from that ads, we gain somewhere around 1000 likes on our page.
        </p>
        <p>Back in the day, I could write a blog post every week, I wrote stuff like tutorials, tips, tech news, etc.
            Sadly, when we graduate from high school we started to part away, and Pojok Kreatif become a neglected project.
        </p>


    </div>

</body>

{% include 'snippets/footer.html' %}
<script src="{% static 'vendor/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'vendor/popper.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>